body {
  background-color: #006e87;
  color: white;
}

input {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #cdc708;
  cursor: pointer;
}

button:disabled {
  border: 1px solid grey;
  color: grey;
  background-color: #037a95;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #037a95;
}

button:hover {
  background-color: #dbd402;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  color: #ff7272;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.btn-link {
  color: white;
  text-decoration: underline;
  text-transform: capitalize;
  background-color: transparent;
}

.btn-link:hover {
  text-decoration: none;
  background-color: transparent;
}

.mb-lg {
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.font-lg {
  font-size: 4rem;
}

.h1-lg {
  font-size: 3rem;
}
