body {
  background-color: #006e87;
  color: white;
}

input {
  width: 100%;
  min-height: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #cdc708;
  cursor: pointer;
}

button:hover {
  background-color: #dbd402;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  color: #ff7272;
}

.form-group {
  position: relative;
}

.btn-link {
  color: white;
  text-decoration: underline;
  text-transform: capitalize;
  background-color: transparent;
}

.btn-link:hover {
  text-decoration: none;
  background-color: transparent;
}

.mb-lg {
  margin-bottom: 3rem;
}
